.dashboard {
  padding: 30px;
}

.stats {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.stat {
  background: #f5f5f5;
  padding: 20px;
  flex: 1 1 200px;
  border-radius: 8px;
  text-align: center;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.chart {
  flex: 1 1 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
